<div class="map-text-container">

  <div class="map-container" leaflet [leafletOptions]="mapOptions" [leafletLayers]="mapLayers()"
    (leafletDoubleClick)="onMapDoubleClick($event)" (leafletMapReady)="onMapReady($event)">
  </div>
  <div class="text-container">
    <p>Pour utiliser le système, suivez les étapes suivantes :</p>

    <ol>
      <li>Créez d'abord les marqueurs sur la carte en utilisant d'un DoubleClick. <strong>Regardez la console</strong> pour voir les données générées</li>
      <li>Cliquez sur le bouton <strong>Calculate Distance</strong> pour calculer toutes les distances entre les
        différents marqueurs.</li>
      <li>Visualisez les trajets sans l'optimisation de Kruskal en cliquant sur <strong>Generate Routes (without
          Kruskal)</strong>. Cela affichera les itinéraires entre tous les points sans optimisation particulière.</li>
      <li>Appliquez l'algorithme de Kruskal en cliquant sur <strong>Calculate Optimal Distances (Kruskal)</strong> pour
        obtenir les itinéraires optimaux. Puis, cliquez sur <strong>Generate Routes</strong> pour visualiser les
        meilleures routes optimisées selon l’algorithme de Kruskal.</li>
    </ol>
    <section class="info-box">
      <p><strong>Remarque:</strong> Le calcul des distances optimales utilise <em>l'algorithme de Kruskal</em>, un
        algorithme glouton qui trouve un arbre couvrant minimum afin de minimiser la distance totale de déplacement.</p>
    </section>
  </div>
</div>

<div>
  <section class="controls">
    <button class="btn" (click)="calculateDistance()">📏 (1) Calculate Distance</button>
    <button class="btn" (click)="calculateOptimizedRoutes ()">✨ (2) Calculate Optimal Distances with Kruskal</button>
    <button class="btn" (click)="calculateAndDisplayRoutes()">🗺️ (3) Generate Routes</button>
    <button class="btn" (click)="generateRoutesWithoutKruskal()">🗺️ Generate Routes Without Kruskal</button>
  </section>
</div>
<ng-template #popupTemplate>
  <div>
    <button (click)="removeLayer(removeSelectedLatLng())">remove</button>
  </div>
</ng-template>